Project-01 (configuring webserver).docx
Project-02 (Migrating server from on-premises to AWS).docx
Project-03 (Site-to-site, point-to-site, transit gateway).docx
Project-04 (Database Migration from on-premises to AWS).docx
Project-05 (mounting s3 bucket on linux and windows AMI).docx